.header{
    width: 800px;
    height: 150px;
    border: 2px solid black;
    position: relative;
    
}
.logo{
    width: 150px;
    height: 40px;
    border: 2px solid black;
    position: absolute;
    left: 10px;
    top:10px;
    background-color: blue;
}
 .topmenu{
    width: 200px;
    height: 50px;
    border: 3px solid black;
    position: absolute;
    left: 550px;
    top: 10px;
    background-color: blueviolet;
} 
.menu{
    width: 350px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    left: 200px;
    bottom: 10px;
    background-color: brown;
}